@media (min-width:720px) {
    .game{
    width: 50%;
    }
}
@media (max-width:420px) {
    .game{
        margin-left: -320px;
        margin-top: -80px;
    }
   img{
    width: 130px;
    height: 100px;
   }   
}
*{
    margin: 0;
    padding: 0;
}
body{
    
background: linear-gradient(#e66465, #9198e5);
    height: 1000px;
    color: rgb(58, 3, 3);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    display: flex;
    justify-content: space-around;
}
p{
    display: inline;
    font-size: 29px;
}
.game{
/* From https://css.glass */
background: linear-gradient(190deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
backdrop-filter: blur(100px);
-webkit-backdrop-filter: blur(100px);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.753);
max-width: 80%;
height: 350px;
justify-content: center;
padding: 100px 0px;
position: relative;
left: 350px;
top: 50px;

}
#btn{
    background: linear-gradient(190deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
backdrop-filter: blur(100px);
-webkit-backdrop-filter: blur(100px);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.753);
color: white;
padding: 10px 20px;
font-size: larger;
}
#btn:hover{
    background: #e66465;
    backdrop-filter: blur(100px);
-webkit-backdrop-filter: blur(100px);
    transition: all 10s ease-in;
    transition-delay: 1s;
    transition-duration: 1s;
}
img{
    max-width: 50%;
    max-height: 40%;
    margin-top: 10px;
    border-radius: 10px;
}
.counter{
    transition: all ease-in ;
    transition-delay: 10s;
}
.kpom{
    margin-left: 30px;
}
input{
    border: none;
    padding: 6px ;
    text-align: center;
    align-items: center;
    font-size: 30px;
    width: 80px;
    background: linear-gradient(190deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
backdrop-filter: blur(100px);
-webkit-backdrop-filter: blur(100px);
}
img{
    width: 230px;
    height: 230px;
    transition: enter 1s ease-in;
}
.countr{
    margin-left: 22px;
}
.shake{
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }

}
.round{
    animation: round 10.0s ;
    animation-duration: 1s;
}
@keyframes round {
    0%{
        transform: rotate(16deg);
    }
    10%{
        transform: rotate(36deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
        transform: rotate(360deg);
    }


}
